/*
SEÇÃO HERO
*/
#hero {
    background-image: url('./home-hero.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

#hero .cobertura {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .caixa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#hero .caixa h3 {
    margin: 0;
    text-align: center;
    font-size: 1.3rem;
}

#hero .caixa h2 {
    font-size: 5rem;
    margin: 0;
}

#hero .caixa button {
    margin-top: 2rem;
}



/*Seção Pacotes*/

section#pacotes {
    background-color: black;
}

#pacotes h2 {
    text-align: center;
    color: #17e6e6;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #ff17c9;
    margin-bottom: 5rem;
    font-size: 2.5rem;
}

#opcoes {
    display:flex; 
    flex-direction: row;
    justify-content: space-evenly;
}

li.opcao {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    padding: 3rem;
    background-color:black;
    color: aliceblue;
    flex-grow: 1;
    flex-basis: 0;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: transform .2s;
}

li.opcao:hover {
    transform: scale(1.25);
}

li.opcao:nth-child(2n) {
    box-shadow: 5px 5px 15px #17e6e6;

}

li.opcao:nth-child(2n-1) {
    box-shadow: 5px 5px 15px #ff17c9;

}

.titulo {
    flex-grow: 1;
    text-transform: uppercase;
}


.preco {
    font-weight: bold;
    font-size: 2rem;
    flex-grow: 1;
}

.beneficios {
    margin-top: 2.5rem;
    flex-grow: 3;
}

.beneficios li {
    margin-bottom: 16px;
}

.beneficios li::before {
    content: '\2600';
    margin-right: 5px;
    color: #ff17c9;
}

#pacotes .caixa {
    display:flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}

#pacotes .cta {
    margin-top: 5rem;
}

/* Seção modalidades */

#modalidades {
    background-color: black;
}

#modalidades a {
    text-decoration: none;
    color: white;
}

#modalidades h2 {
    text-align: center;
    color: #17e6e6;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #ff17c9;
    margin-top: 5rem;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}


#modalidades .tipo {
    height: 420px;
    border: 1px solid black;
    padding: 0rem;
    color: aliceblue;
    font-size: 1.5rem;
}

#pole-dance.tipo {
color: white;    
}

#modalidades .cobertura {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 20px;
}

#pole-acro.tipo {
    background-image: url('./pole-acro04.jpeg');
    background-position: center 65%;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 15px #17e6e6;
    text-shadow: 2px 2px 2px #ff17c9;
}

#sexy-pole.tipo {
    background-image: url('./sexy-pole02.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 15px #17e6e6;
    text-shadow: 2px 2px 2px #ff17c9;
    
}

#pole-on-heels.tipo {
    background-image: url('./pole-on-heels.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 15px #ff17c9;
    text-shadow: 2px 2px 2px #ff17c9;
}


/*Seção Horarios*/

#horarios {
    background-color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    padding: 5rem 0;
}

#horarios .caixa {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}

#horarios .left-column {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#carrossel {
    background-image: url('./horarios\ 01.jpeg');
    width: 460px;
    box-shadow: 5px 5px 15px #ff17c9;
    height: 660px;
    background-position: center;
    background-size: cover;
}

#carrossel .cobertura {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
}

#horarios .right-column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    padding-right: 2rem;
}
    
#horarios h2 {
    text-shadow: 2px 2px 2px #ff17c9;
    text-align: left;
    color: #17e6e6;
    font-size: 2.5rem;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

#horarios p {
    color: aliceblue;
    font-size: 1.49rem;
}

#horarios .possibilidades li {
    color: aliceblue;
    font-size: 1.3rem;
    margin: 1.2rem 0 0;
}

.possibilidades li::before {
    content: '\2600';
    margin-right: 5px;
    color: #ff17c9;
}

#horarios .cta {
    margin-top: 5rem; 
    height: 4rem;
    width: 12rem;
}

/*Seção Eventos e Parcerias*/

#eventos-e-parcerias {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    padding: 5rem 0;
}

#eventos-e-parcerias .caixa {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}

#eventos-e-parcerias .left-column {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    padding-left: 8rem;

}

#eventos-e-parcerias .right-column {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 3rem;
}

#eventos-e-parcerias h2 {
    text-shadow: 2px 2px 2px #ff17c9;
    text-align: left;
    color: #17e6e6;
    font-size: 2.5rem;
    margin-top: 0rem;
    margin-bottom: 8rem;
    
}

#eventos-e-parcerias p {
    color: aliceblue;
    font-size: 1.49rem;
}

#eventos-e-parcerias li {
    color: aliceblue;
    font-size: 1.3rem;
    margin: 1.2rem 0 0;
}

#eventos-e-parcerias li::before {
    content: '\2600';
    margin-right: 5px;
    color: #ff17c9;
}

#eventos-e-parcerias .cta {
    margin-top: 5rem; 
    height: 4rem;
    width: 12rem;
}

#eventos-e-parcerias #foto-evento {
    max-width: 520px;
    box-shadow: 5px 5px 15px #ff17c9;
}

#eventos-e-parcerias #video-evento {
    position: relative;
    bottom: 100px;
    right: 220px;
}

/*Seção Sobre Mim*/

#sobre-mim .caixa {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sobre-mim .aspas {
    text-shadow: 2px 2px 2px #ff17c9;
    text-align: center;
    color: #17e6e6;
    font-size: 5rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

#sobre-mim h2 {
    text-shadow: 2px 2px 2px #ff17c9;
    text-align: center;
    color: #17e6e6;
    font-size: 2.5rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

#sobre-mim p {
    color: aliceblue;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0 4rem;
    max-width: 1120px;
}

#sobre-mim h4.titulo {
    color: #17e6e6;
    text-shadow: 2px 2px 2px #ff17c9;
    font-size: 1.3rem;
    text-align: center;
}

#sobre-mim #depoimentos .depoimento {
    display: none;
    font-family: 'Caveat', cursive;
    font-size: 1.4rem;
    color:aliceblue;
    text-align: center;

}#sobre-mim #depoimentos .depoimento.ativo {
    display: flex;
    flex-direction: column;
}
